
.campo{
    margin: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
 
}

input{
    width: 400px;
    padding: 10px;
    outline: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #ccc;
}

select{
    width: 400px;
    padding: 10px;
    outline: none;
    color: rgb(20, 173, 0);
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #ccc; 
}



.header{
    color: #fff;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.header h1{
    font-size: 48px;
}
.header p{
    font-style: italic;
}
button{
    margin: 40px;
    padding: 10px;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #ccc;

}
button:hover{
    transform:scale(1.04);
    background-color: green;
    color: white;
   
    transition: all ease-in .300s;
}
.options{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

th{
    border: 1px solid #ccc;
}