<div class="contenedor">
  <a routerLink="/opciones" class="btn back">Regresar</a>
    <div class="header">
        <h1>LIstado de partidos</h1>
    </div>

    <div class="options"> 
        <table class="table">
            
            <thead class="titulo">
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">E. Local</th>
                <th scope="col">E. Visitante</th>
                <th scope="col">Goles L</th>
                <th scope="col">Goles V</th>
                <th scope="co">-</th>

              </tr>
              
            </thead>
            
            <tbody *ngFor="let partido of partidos">
              <tr>
                <td scope="row">{{partido.fecha}}</td>
                <td>{{partido.local}}</td>
                <td>{{partido.visitante}}</td>
                <td>{{partido.goles_local}}</td>
                <td>{{partido.goles_visitante}}</td>
                <td *ngIf="partido.goles_visitante == null && partido.goles_local==null ">
                  <a (click)="actualizar(partido.id)" class="btn">Actualizar</a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
        
    </div>

